<h1>Add Blog</h1>
<form action="/addblog" method="post" class="p-5">
  <div class="form-group">
    <label for="name">Title</label>
    <input
      name="title"
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter Blog Title"
    />
  </div>
  <div class="form-group">
    <label for="des">Description</label>
    <input
      name="description"
      type="text"
      class="form-control"
      id="description"
      placeholder="Enter Blog Description"
    />
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input
      type="text"
      name="img"
      class="form-control"
      id="image"
      placeholder="Enter Blog Image Url"
    />
  </div>
  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
