<div class="container">
  <h1>Message: <span class="text-danger"><%=message%></span></h1>
  <div class="container">
    <h2>links:</h2>
    <a class="btn btn-sm btn-danger" href="/">Secure page</a>
    <a class="btn btn-sm btn-success" href="/login">login Page</a>
    <a class="btn btn-sm btn-primary" href="/register">Sign up Page</a>
  </div>
</div>
